/*hyundai subscrption page main box*/

#avail_carsbox {
    height: 800px;
    width: 98%;
    display: flex;
    background-size: cover;
    
    background-image: url(https://cdn.pixabay.com/photo/2020/03/24/16/44/hyundai-4964667__340.jpg);
  }
  
  /*leftside box*/
  
  #subbox {
    height: 70%;
    width: 50%;
    margin-top: 6%;
    margin-left: 5%;
    background-color: white;
  
  }
  #subbox2 {
    height: 40%;
    width: 100%;
  
    text-align: center;
  }
  /*img of hundai subsption */
  img {
    vertical-align: middle;
    width: 55%;
    height: 5%;
  }
  
  /*filter box top side*/
  
  .hyundsub1 {
    margin-top: 5%;
    height: 20px;
  }
  .poweredby {
    color: #000;
    font-size: 14px;
    margin-top: 3%;
  }
  .headh2 {
    letter-spacing: normal;
    text-align: center;
    color: #5a5254;
    font-size: 25px;
  }
  #placelog {
    height: 100px;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
  }
  /*filterbox ofselect city*/
  #select_city {
    height: 100px;
    width: 100%;
    margin-left: 1%;
    
  }
  /*fonticon */
  #placelog > i {
    margin-top: 50px;
    margin-left: 10px;
  }
  /*filter box styling*/
  #filter {
    margin: 0 6% 0 0;
    border: none;
    outline: none;
    font-weight: 700;
    width: 100%;
    height: 40px;
  }
  /* cars price boxes*/
  #carspricesmallbox{
    width: 90%;
    height: 120px;
    margin:5% 0 0 5%;
    display: flex;
    
  }
  /*cars price rightbox*/
  #brandcarsbox{
    width: 45%;
    height: 100%;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
  }
  /* unboxedcars boxis right box all styling is same as left box*/
  #unboxedcarbox{
    width: 45%;
    height: 100%;
  margin-left: 10%;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
  }
  /*brand box top side same rightbox*/
  #brandcarsbox1{
    background-color: #1caba2;
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
  }
  
  
  /*left box content styling*/
  a{
    text-decoration: none;
  }
  .al{
    color: white;
    font-size: 18px;
      font-family: "Poppins";
      font-weight:700;
      margin-top: 10px;
      cursor: pointer;
  }
  /*arrow logo*/
  #arrlogo{
    width: 20px;
    height: 12px;
    margin-top: 15px;
  margin-left: 20px;
  }
  /*brandcarsbox line2 text styling*/
  #brandcarsbox1>p{
    margin-top:-20px;
    padding-left:5px;
    background-color: #1caba2;
    font-family: Poppins;
      font-weight: 400;
      font-size: 16px;
      width: 100%;
      height: 25px;
      text-align: left;
      color: #fff;
  }
  /*price showing line*/
  .priceline{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #3d3e4a;
    margin-left: 15px;
    margin-top: 40px;
  }
  .pricelinespn{
    font-size: 22px;
    font-weight: bold;
  }
  
  /*right side text box */
  #rightsidetext{
    height: 100px;
    width: 400px;
    margin:500px 0 0 30px;
  }
  
  /*right box in main box text*/
  .h3{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    cursor: pointer;
    
  }
  .h1{
    font-family: Poppins;
      font-size: 30px;
      font-weight: 600;
      color: #fff;
      text-align: left;
      cursor: pointer;
      display: block;
  }
  /*exploretag*/
  .expltag{
    font-family: Poppins;
      font-size: 20px;
      font-weight: 700;
      font-style: normal;
      color: #1caba2;
      text-align: left;
      margin-top:80px ;
      margin-left: 5px;
  }
  /*subcrption benfits main box*/
  #subscrptn-ben-mainbox{
    min-height: 450px;
    width: 70%;
    margin-top: -6%;
    margin-left: 5%;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    padding: 5% 5%!important;
    display: block;

  }
  .row{
    flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  /*lists of befits*/
  
  ul{
    display: flex;
      flex-direction: row;
      list-style: none;
      padding-left: 0;
      justify-content: space-between;
  }
  /*this is make as lists*/
  li{
    display: flex;
      align-items: center;
  }
  li>img{
    width: 65px;
    height: 70px;
    vertical-align: middle;
  }
  /* styling text in benifits lists*/
  
  .benifits-list{
    
    min-width: 115px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #000;
    margin-left: 11px;
  }
  /* what is subscription box*/
  #what-is-sub{
    margin-top: 6%;
    width: 100%;
    display: flex;
    height: 300px;
   
  }
  #what-is-sub-left{
    width: 500px;
    height: 220px;
    
  }
  
  #what-is-sub-left h2{
  font-family: Poppins;
      font-size: 22px;
      font-weight: 400;
      text-align: left;
      color: #888993;
      margin:5px 0 0 10px;
  }
  #what-is-sub-left span{
    font-family: Poppins;
      font-size: 28px;
      font-weight: 700;
      color: #1b1c24;
      margin-left: 10px;
  }
  /*what is sub text*/
  
  #what-is-sub-left p{
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: #5d5e6f;
  margin-top: 17px;
  padding-right: 58px;
  }
  /*subscriptin left box knowmore link*/
  #what-is-sub-left a{
    border-radius: 4px;
    border: 2px solid #ebebeb;
    background-color: #fff;
    font-family: Poppins;
    padding: 13px 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #1caba2;
    width: 135px;
    margin-top: 100px;
    margin-left: 10px;
  }
   #what-is-sub-right>img{
    width: 500px;
   height: 300px;
   
  background-size: cover;
   }
   
#howitworkbox{
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  
  flex-wrap: wrap;
  padding-bottom: 10px;
}
/*how it works main box*/

#howitwork_hding{
  font-size: 28px;
  font-weight: 700;
  color: rgb(27, 28, 36);
  text-align: left;
}
#howitworkbxs{
  width: 100%;
  text-align: center;
  display: flex;
  
  height: 250px;
}
/*how it work box*/
.hrdasedline{
  position: absolute;
  border-top: 2px dotted;
  color: #000;
  margin: 80px 80px 0 100px;
  width: 65%;
  display:  block!important;
  overflow: visible;
}
/*hrdotted line*/

.howitworkiconbox1{
  width: 23%;
height: 100%;

}
.circlebox{
  border: 8px solid #ddd;
  content: "\f09d";
  height: 120px;
  width: 120px;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  display: block;
  box-shadow: rgb(0 0 0 / 25%) 0px 14px 45px, rgb(0 0 0 / 22%) 0px 10px 18px;
  border-radius: 50%;
  margin: 10px 0 0 10px;

}
/*circle box of icons in how it works page*/

.circlebox>i{
  padding-top: 25px;
}
/*icons*/

.howitworkiconbox1>h3{
  text-align: left;
  margin-left: 15px;
  font-weight: 500px;
  
}
.howitworkiconbox1>p{
  font-size: 18px;
  text-align: left;
  margin-left: 15px;
   line-height: 1.5;
  color: #212529;
}
/* styling of how it work box compleated*/

   /*our journey so far*/
#oj{
  border-radius: 10px;
  margin-top:40px;
  width:1310px;
  height: 250px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ojflex{
  background-color: white;
  display: flex;
margin-left:20px;
height: 250px;
}
.ojflex>div{

  background-color: white;
  margin:30px;
  margin-right: 210px;
  
}
.ojimg{
  background-color: white;
  width: 70px;
  height: 70px;
  
  
}
#oj>h3{
  font-size: 30px;
  background-color: white;
}
.oiimg{
  margin-top: -15px;
width: 150px;
height: 150px;
}


/*whyrev sliding box style*/
.imgwr{
  background-color: white;
  width: 80px;
  height: 80px;
  margin-top:55px
  

}
.textwr{
margin-top:-100px;
margin-left: 90px;
background-color: white;
font-size: 30px;
margin-bottom: -5px;
}
.pwr{
margin-top:10px;
margin-left: 90px;
background-color: white;
color:rgb(133, 136, 143);
font-size: 20px;

}

.divwr{
     /* border: 1px solid green; */
  border-radius: 18px;
  min-width: 525px;
  height: 170px;
  position: relative;;
  padding: 0 1px;
  margin:10px 20px;
  transition: 0.5s;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* buy vs sub table */

/*faqs section*/
.m{
  margin-left: 5%;
  margin-top: 20px;
  font-weight: bold;
  color:rgb(168,181,203);
  font-size: 40px;
  
}

#faq{
  font-size: 40px;
  border: 1px solid green;
  border-radius: 18px;
  width:1150px;
  height: 430px;
  position: relative;;
  padding:  0 50px;
  padding-top: 1px;
  margin:10px 50px;
  transition: 0.5s;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#faq>h2{
  font-size: 20px;
}
#faq>p{
  font-size: 14px;
}
/*featuers section*/
.divf{
  /* border: 1px solid green; */
  border-radius: 15px;
  min-width: 350px;
  height: 200px;
  position: relative;;
  left: 0;
  padding: 0 60px;
  margin:10px 20px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
      main{
          /* border: 1px solid red; */
          width: 100%;
          height: 300px;
         margin:auto;
          overflow: hidden;
          margin-top: 100px;
         
      }
h1{
  width:90%;
  margin:1px auto;
  /* background: #1967D2; */
  margin-left: 190px;
  font-weight: bold;
  color:white;
}
spam{
  /* border: 1px solid blue; */
position:absolute;
top:10%;
left:76%;
z-index:1;
margin-left: 200px;
width:10px;
text-align:right;
padding-left: 35px;
font-size: 50px;

}
spam:nth-child(1){
  margin-left:500px;
  left: 80%;
  
}
spam:nth-child(2){
  left: 72%;
}

section{
  /* border: 1px solid blue; */
  width: 85%;
  height: 300px;
  margin:10px auto;
  display:flex;
  justify-content: left;
  overflow-x:auto;
}
section::-webkit-srcollbar{
  visibility: hidden;
}
.san{
  /* border: 1px solid green; */
  border-radius: 18px;
  min-width:385px;
  height: 230px;
  position: relative;;
  padding: 0 1px;
  margin:10px 20px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img{
  width:350px ;
  height: 200px;
  border-radius: 18px;
}
.imgt{
  width:530px ;
  height: 220px;
  border-radius: 18px;
  margin-left: -90px;
}

.idsc{
  /* border:1px solid red; */
  border-radius: 18px;
          width: 1610px;
          height:500px ;
          background-color: grey;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          margin:auto;
        
}
.divsc{
  border-radius: 18px;
  /* border:1px solid red; */
  padding:40px;
  display: flex;
  width: 1520px;
  height:368px ;
  background-color:gray
}
.divsc>div{
  background-color:grey;
  margin:90px;
  margin-right: 100px;
  margin-top: -5px;
}
.scp{
  background-color: grey;
}
#sch1{
  background-color: grey; 

 width: 1600px;
margin-left: 40px;
 color: whitesmoke;
}
.scp:hover{
  color:white
}
h1{
  font-size: 25px;
  color:rgb(168,181,203);
  margin-left: 20px;
  
}